<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="WebBcSpace">
	<sql id="Base_Column_List">
		GZH_ID,URL,WAP_ID,TITLE,DESCRIPTION,PIC_URL,PIC_ID,CREATE_TIME
	</sql>
	<select id="get" resultType="map" parameterType="string">
		SELECT
		<include refid="Base_Column_List" />
		FROM WX_WAP_GZH
		WHERE GZH_ID = #{GZH_ID}
	</select>
	
	<select id="queryPage" resultType="map" parameterType="map">
		SELECT
		<include refid="Base_Column_List" />
		FROM WX_WAP_GZH
		WHERE GZH_ID = #{t.GZH_ID}
		ORDER BY CREATE_TIME DESC
	</select>
	
	<insert id="insert" parameterType="map">
		INSERT INTO WX_WAP_GZH
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="GZH_ID != null">
				GZH_ID,
			</if>
			<if test="URL != null">
				URL,
			</if>
			<if test="WAP_ID != null">
				WAP_ID,
			</if>
			<if test="TITLE != null">
				TITLE,
			</if>
			<if test="DESCRIPTION != null">
				DESCRIPTION,
			</if>
			<if test="PIC_URL != null">
				PIC_URL,
			</if>
			<if test="PIC_ID != null">
				PIC_ID,
			</if>
			<if test="CREATE_TIME != null">
				CREATE_TIME,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="GZH_ID != null">
				#{GZH_ID},
			</if>
			<if test="URL != null">
				#{URL},
			</if>
			<if test="WAP_ID != null">
				#{WAP_ID},
			</if>
			<if test="TITLE != null">
				#{TITLE},
			</if>
			<if test="DESCRIPTION != null">
				#{DESCRIPTION},
			</if>
			<if test="PIC_URL != null">
				#{PIC_URL},
			</if>
			<if test="PIC_ID != null">
				#{PIC_ID},
			</if>
			<if test="CREATE_TIME != null">
				#{CREATE_TIME},
			</if>
		</trim>
	</insert>
	<!-- <delete id="delete" parameterType="string">
		DELETE FROM WX_WAP_GZH
		WHERE HAC_ID = #{HAC_ID}
	</delete> -->
	
	<update id="update" parameterType="map">
		UPDATE WX_WAP_GZH
		<set>
			<if test="URL != null">
				URL = #{URL},
			</if>
			<if test="WAP_ID != null">
				WAP_ID = #{WAP_ID},
			</if>
			<if test="TITLE != null">
				TITLE = #{TITLE},
			</if>
			<if test="DESCRIPTION != null">
				DESCRIPTION = #{DESCRIPTION},
			</if>
			<if test="PIC_URL != null">
				PIC_URL = #{PIC_URL},
			</if>
			<if test="PIC_ID != null">
				PIC_ID=#{PIC_ID},
			</if>
			<if test="CREATE_TIME != null">
				CREATE_TIME=#{CREATE_TIME},
			</if>
		</set>
		WHERE GZH_ID = #{GZH_ID}
	</update>
</mapper>