* {
    font-size: 14px;
    margin: 0;
    padding: 0;
}
body {
    color: #222;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","黑体",Arial,sans-serif;
    font-size: 14px ;
    line-height: 1.6;
}
ul, ol {
    list-style-type: none;
    padding-left: 0;
}
.col_main{
    display:table-cell;
    vertical-align:top;
    word-wrap:break-word;
    word-break:break-all
}
.container_box.cell_layout .col_main {
}
.container_box.cell_layout .col_main {
    height: 700px;
    width: 2000px;
}
.container_box.cell_layout .col_side, .container_box.cell_layout .col_main {
    display: table-cell;
    vertical-align: top;
    word-break: break-all;
    word-wrap: break-word;
}
.tab_nav {
    float: left;
    font-size: 14px;
}
.tab_navs::after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}

.title_tab .tab_nav.first a, .title_tab .tab_nav:first-child a {
    padding-left: 30px;
}
.title_tab .tab_nav.first a, .title_tab .tab_nav:first-child a {
    padding-left: 30px;
}
.title_tab .tab_nav a {
    padding: 0 22px;
}
.tab_nav a {
    color: #222;
    display: block;
    outline: 0 none;
    padding: 0 20px;
    text-decoration: none;
}
.tab_nav a {
    color: #222;
    display: block;
    outline: 0 none;
    padding: 0 20px;
    text-decoration: none;
}
a {
    color: #459ae9;
    text-decoration: none;
}
.title_tab .tab_navs {
	border-bottom:1px solid #e7e7eb;
    box-shadow: none;
    line-height: 40px;
}
.title_tab .tab_nav.selected {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 center;
    border-bottom: 3px solid #44b549;
}
.title_tab {
    margin-top: -14px;
}
.wrp_overview {
    padding: 20px 0px 40px;
    position: relative;
}
.info_bd {
    position: relative;
    z-index: 9;
}

.info_box {
    margin-bottom: 20px;
}
.info_box .inner {
    border: 1px solid #e7e7eb;
}
.container_box.cell_layout .col_main {
    word-break: break-all;
    word-wrap: break-word;
}
.info_box .info_hd::after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}
.info_box .info_hd::after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}
.info_hd.append_ask {
    position: relative;
    z-index: 10;
}
.info_box .info_hd {
    background-color: #f4f5f9;
    border-bottom: 1px solid #e7e7eb;
    height: 38px;
    line-height: 38px;
    padding: 0 20px;
}

.info_box .info_hd h4 {
    font-size: 14px;
    font-weight: 400;
}

.info_box .inner {
    border: 1px solid #e7e7eb;
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, fieldset, textarea {
    margin: 0;
}

.ui_trendgrid {
    margin: 20px 0;
    position: relative;
    table-layout: fixed;
    width: 100%;
}

.ui_trendgrid td {
    border-right: 1px solid #e7e7eb;
    height: 130px;
}

.ui_trendgrid_item {
   /*  height: 100%; */
    overflow: hidden;
    position: relative;
    text-align: center;
}

.ui_trendgrid_chart {
    bottom: 0;
    left: 1px;
    position: absolute;
    width: 100%;
}
.ui_trendgrid_item {
    text-align: center;
}

.ui_trendgrid dl {
    display: inline-block;
    margin-top: 0;
    padding: 0;
    position: relative;
    text-align: left;
    z-index: 2;
}

.ui_trendgrid_item b {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.ui_trendgrid dd.ui_trendgrid_number {
    color: #676767;
    font-size: 30px !important ;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
}
.ui_trendgrid dd {
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px;
    white-space: nowrap;
}

.ui_trendgrid dt {
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 12px;
    text-align: center;
}
.ui_trendgrid td.last {
    border-right: 0 none;
}
.ui_trendgrid td {
    border-right: 1px solid #e7e7eb;
    height: 130px;
}

.page_msg .inner::after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}
.group::after {
    clear: both;
    content: "​";
    display: block;
    height: 0;
}
.page_msg.mini .inner {
    padding: 9px 20px;
}
.page_msg .inner {
    background-color: #e0eaf6;
    position: relative;
}
.group {
}

.page_msg.top {
    margin-bottom: 20px;
    margin-top: 6px;
}

.page_msg.mini .msg_icon_wrp {
    margin-right: 6px;
    margin-top: 3px;
}
.page_msg .msg_icon_wrp, .page_msg .msg_icon_wrapper {
    float: left;
    font-size: 0;
    margin-right: 10px;
}

.icon_msg_mini.info {
    background: rgba(0, 0, 0, 0) url("../img/wxicon.png") no-repeat scroll 0 -1050px;
}
.icon_msg_mini {
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}


.ui_trendgrid .icon_down, .ui_trendgrid .icon_up, .ui_trendgrid .icon_down_grey {
    background: transparent url("../img/arrow-spr265437.png") no-repeat scroll 0 0;
    display: inline-block;
    height: 9px;
    margin-left: 10px;
    margin-right: 3px;
    position: relative;
    top: -2px;
    vertical-align: middle;
    width: 10px;
}
.ui_trendgrid .icon_down {
    background-position: -10px 0;
}
.ui_trendgrid .icon_down_grey {
    background-position: -20px 0;
}

.info_box .time_lable {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-left: 10px;
    min-height: 40px;
}
.info_hd .tabs {
    display: inline-block;
    padding-left: 10px;
    vertical-align: middle;
}

.info_hd .tabs a {
    color: #222;
    float: left;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
    text-align: center;
    top: -2px;
}
a {
    color: #459ae9;
    text-decoration: none;
}
input, textarea, button, a {
    outline: 0 none;
}
.info_hd .tabs a {
    position: relative;
    float: left;
    font-size: 14px;
    top: -2px;
    padding: 0 15px;
    text-align: center;
    color: #222
}
.info_hd .tabs a:hover {
    /*cursor: default;*/
    text-decoration: none;
    background: #e6e7ec
}
.info_hd .tabs a.current {
    background: #44b549 none repeat scroll 0 0;
    color: #fff;
}

.info_box .sub_menu {
    background-color: #f4f5f9;
    line-height: 1em;
    min-height: 31px;
    padding: 10px 20px;
}
.info_box .time_lable {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-left: 10px;
    min-height: 40px;
}
.info_box .sub_menu .button_group {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.ta_date {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e7ec;
    border-radius: 0;
    box-shadow: none;
    line-height: 30px;
    padding-left: 10px;
}
.button_group .td_data_container {
    display: inline-block;
}

.button_group {
    font-size: 0;
}
.info_box .sub_menu .button_group .btn, .info_box .sub_menu .button_group .btn_group_item, .info_box .sub_menu .button_group .search_wrapper {
    float: left;
}
.button_group .btn {
    border-radius: 0;
    margin-right: -1px;
    vertical-align: top;
}
.btn {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    overflow: visible;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.btn_default {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
    border-color: #e7e7eb;
    color: #222;
}
.btn_default {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #fff 0px, #fff 100%);
    border-color: #e7e7eb;
    color: #222;
}
.btn {
    min-width: 60px;
}
.button_group .td_data_container {
    display: inline-block;
}

.info_box .sub_menu .setup {
    float: right;
    position: relative;
    top: 4px;
}
button.btn {
    height: 32px;
    line-height: 28px;
}
.btn_primary {
    background-color: #44b549;
    background-image: linear-gradient(to bottom, #44b549 0px, #44b549 100%);
    border-color: #44b549;
    color: #fff;
}
.button_group .btn.selected {
    color: #459ae9;
}
.info_bd .page_msg {
    margin: 20px 15px;
}

.info_bd .sub_title {
    border-left: 4px solid #6b6b6b;
    clear: both;
    font-size: 14px;
    font-weight: normal;
    height: 14px;
    line-height: 14px;
    margin: 20px 20px 0;
    padding-left: 3px;
    position: relative;
    z-index: 7;
}

.info_bd .sub_title .tr_ext_info {
    position: absolute;
    right: 0;
    top: 0;
}
.info_bd .sub_content {
    clear: both;
    padding: 20px;
    position: relative;
}
.table {
    background-color: #fff;
    border-bottom: 1px solid #e7e7eb;
    border-spacing: 0;
    border-top: 1px solid #e7e7eb;
    font-size: 14px;
    text-align: center;
    width: 100%;
}
.info_box .table {
    border-width: 1px;
}

.info_box .thead {
    background-color: #f4f5f9;
}
.table {
    border-spacing: 0;
    font-size: 14px;
    text-align: center;
}
.table_cell {
    font-style: normal;
    font-weight: 400;
    padding: 0;
}
.table_cell {
    padding-left: 20px;
    padding-right: 20px;
}
.tl {
    text-align: left;
}
.table_cell {
    padding-left: 15px;
    padding-right: 15px;
}
.thead .table_cell {
    border-bottom: 1px solid #e7e7eb;
    border-left: 1px solid #e7e7eb;
    line-height: 32px;
}
.thead .table_cell {
    border-left-width: 0;
    line-height: 40px;
}
.table_cell:first-child {
    text-align: left;
}
.thead .table_cell:first-child {
    border-left-width: 0;
}

.icon_dropdown_switch, .icon_rank {
    display: inline-block;
    height: 12px;
    margin-top: -3px;
    position: relative;
    vertical-align: middle;
    width: 10px;
}
.icon_dropdown_switch .arrow, .icon_rank .arrow {
    border-color: transparent transparent #c6c6c6;
    border-style: dashed dashed solid;
    border-width: 0 5px 5px;
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}
.icon_dropdown_switch .arrow_down, .icon_rank .arrow_down {
    border-bottom: 0 dashed transparent;
    border-top: 5px solid #c6c6c6;
    bottom: 0;
    left: 0;
    position: absolute;
}
.tbody .table_cell {
    border-top: 1px solid #e7e7eb;
    padding-bottom: 6px;
    padding-top: 6px;
}
.tbody tr:first-child .table_cell {
    border-top-width: 0;
}
.table_cell:first-child {
    text-align: left;
}
.tbody .table_cell {
    padding-bottom: 9px;
    padding-top: 9px;
}
.table_cell {
    padding-left: 15px;
    padding-right: 15px;
}
.table_cell.td_high_light {
    background-color: #f4f5f9;
}
.turn_page {
    margin-top: 20px;
}
.tr {
    text-align: right;
}

.page_nav_area {
    letter-spacing: 4px;
}
.page_nav_area, .goto_area {
    display: inline-block;
    font-size: 12px;
    vertical-align: middle;
}

.button_group .btn_group_item .i_orderd {
    margin-top: -2px;
}
.ta_date .i_orderd {
    border-left: 5px dashed transparent;
    border-right: 5px dashed transparent;
    border-top: 5px solid #c6c6c6;
    content: "";
    display: inline-block;
    font-size: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
    width: 0;
}

.button_group .btn_group_item {
    font-size: 14px;
}
